main {
    padding-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    width: 60%;
    min-width: 700px;
}
  
.coffee-main-div {
    display: flex;
    margin-top: 100px;
    min-height: 350px;
    height: 80%;
    width: 100%;
    background-color: #bd9d8383;
    border-radius: 50px;
}

.coffee-left-div {
    width: 300px;
    height: 300px;
    background-color: #ffe9d6ce;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid  #624c3a; 
}

.coffee-round-image{
  flex:  30%;
  width: 100%;
  height: weight;
  min-width: 350px;
  border-radius: 0px 50% 50% 0px;
  background-color: #f3e5da;
  margin-left: -5%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.coffee-image {
    height: 180px;
    margin-left: 35px;
}
  
.coffee-image img {
    height: 100%;
}

input {
    padding: 5px;
    background-color: var(--color-input);
}

label {
    font-size: 1.2em;
    margin-left: 2px;
}

.coffee-value-str{
  display: flex;
  align-items: center;
}

#beauty-input {
    width: 300px;
    margin-top: -15px;
    font-size: 1.1em;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 10px;
    border-color: #4d3e32;
}

#beauty-input-number {
    flex: 30%;
    margin-top: 7px;
    margin-left:6px;
    max-width: 80px;
    font-size: 1.1em;
    padding: 2px 5px;
    text-align: center;
    border-radius: 10px;
    border-color: #4d3e32;
}
  
.coffee-right-div {
    flex: 70%;
    width: 60%;
    padding-top: 30px;
    font-size: 1.2em;
    box-sizing: border-box;
}
  
.coffee-value-div{
    margin-left: 12%;
}

.ingredients-menu{
    margin-top: 20px;
    margin-left: 2%;
    width: 95%;
}
  
.ingredients-list {
    height: 130px;
    overflow-y: scroll;
    margin-bottom: 15px;
    border-radius: 20px 0 0 20px;
    border: 25px;
    padding: 5px;
    background-color: #f3e5da;
    border: 3px solid  #624c3a; 
}
  
.ingredients-menu ::-webkit-scrollbar{
  width: 3px;
}

.ingredients-menu ::-webkit-scrollbar-track{
  margin-left: -7px;
}

::-webkit-scrollbar-track {
  background-color:#f3e5da;
}

.ingredient-desc {
    margin-left: 20px;
    text-align: left;
    margin-bottom: 10px;
}
  
.ingredient-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-final
{
  width: 80%;
  margin-top: 30px;
  align-items: center;
}

#create-button {
    padding: 5px;
    font-size: 1.8em;
    display: block;
    margin-left: 96%;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #4d3e32;
    background-color:  #ffe9d6ce;
    color: #4d3e32;
}

#description {
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    margin-left: 15%;
    width: 100%;
    background-color: var(--color-input);
    border: 3px solid  #624c3a; 
}

.ingredients-select {
    padding: 5px;
    font-size: 1em;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--color-input);
}
  

.input_value {
    margin-left: 10px;
    margin-right: auto;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    width: 20%;
    border-radius: 10px;
    border-color: #4d3e32;
}
  
.remove-ingredient {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 0.5em;
    background-color: white;
    color: #4d3e32;
}
  
#add-ingredient {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2em;
    display: block;
    margin: 0 0 0 auto;
    background-color: white;
    color: #4d3e32;
}
  
  
@media (max-width: 750px)  {
  .coffee-main-div,
  .create-final{
    transform: translate(-60px, 0);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
  
}

@media (min-width: 750px)  {
  .coffee-main-div,
  .create-final {
    transform: translate(0, 0);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
}

@media only screen
      and (max-device-width : 500px)
      and (orientation: portrait) {
      
      main {
        padding-top: 200px;
        width: 100%;
      }
  
      .coffee-main-div {
        flex-direction: column;
        height: auto;
        margin-top: 300px;
        width: 100%;
      }
      
      .coffee-round-image{
        width: 750px;
        height: 750px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -300px;
      }

      .coffee-left-div {
        width: 100%;
        height: 100%;
      }
  
      .coffee-image {
        margin-left: 70px;
        margin-bottom: 40px;
        margin-top: 40px;
        height: 450px;
      }
  
      .coffee-right-div {
        width: 100%;
        padding: 50px;
      }

      .coffee-value-div{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
      }
  
      #beauty-input{
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        width: 100%;
        margin-bottom: 10px;
        min-height: 100px;
      }

      .coffee-value-str{
        width: 100%;
        min-height: 150px;
      }

      #beauty-input-number{
        border-radius: 30px;
        min-width: 40%;
        margin-left: auto;
        min-height: 100px;
      }
      
      label {
        font-size: 2.5em;
        margin-left: 1%;
      }
  
      .ingredients-menu{
        height: 550px;
        width: 97%;
      }

      .ingredients-list {
        height: 400px;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 20px;
      }
  
      .ingredient-desc {
        font-size: 2em;
        margin-left: 40px;
        margin-bottom: 20px;
      }
  
      .ingredients-select {
        padding: 10px;
        min-width: 300px;
        margin-right: 60px;
        min-height: 90px;
      }
  
      .input_value {
        font-size: 0.9em;
        padding: 10px;
        width: 20%;
        min-height: 60px;
      }
  
      .remove-ingredient {
        width: 90px;
        height: 90px;
        background-color: var(--color-input);
      }
  
      #add-ingredient {
        width: 115px;
        height: 115px;
        font-size: 2.5em;
        background-color: var(--color-input);
      }
      
      .ingredients-menu ::-webkit-scrollbar
      { width: 0px;}
      
      
      #description {
        padding: 20px;
        font-size: 2em;
        width: 110%;
        margin-bottom: 15px;
        margin-left: 5%;
        min-height: 200px;
      }
  
      .ingredient-value {
        min-height: 100px;
      }

      #create-button {
        padding: 15px;
        font-size: 2.5em;
      }

      #beauty-input, 
      #beauty-input-number {
        font-size: 2.5em;
      }
}
  