main {
    width: 70%;
    padding-top: 150px;
    margin: 0 auto;
    min-width: 600px;
}

.coffee-info{
  width: 100%;
  margin: 0 auto 0;
}

.coffee-img-details {
    transition: 0.3s all linear;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fde8d7;
    border-radius: 50%;
    border: 3px solid  #624c3a;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

  
.image-box {
    height: 150px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}
  
.image-box img {
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.coffee-ingredient_n {
    position: absolute;
    left: 6px;
    top: 0;
    height: 143px;
    width: 109px;
}
  
.ingredient1 {
    clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
}
  
.ingredient2 {
    clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0% 100%);
}
  
.ingredient3 {
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
}
  
.coffee-name-details {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    margin-top: -10px;
}

  
.main-div {
  display: flex;
  height: 240px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #d7c0ad;
  border-radius: 30px;
  margin-top: -100px;
}

.all_info{
  background-color: #d7c0ad;
  border-radius: 50px;
}

.coffee-desc {
    height: 100%;
    width: 60%;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.coffee-ingr {
  height: 100%;
  width: 60%;
  padding: 30px;
  font-size: 1.3em;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.coffee-desc p {
    font-size: 18px;
    margin-top: 15px;
}

.comments{
  list-style: none;
  height:200px;
  overflow-y: scroll;
  margin-top: 20px;
}

.ingredients{
  list-style: none;
  padding: 0;
  max-height: 140px;
  overflow-y: scroll;
}

.ingredients li {
  margin-left: 100px;
  padding: 4px 20px;
  border-radius: 5px;
  background-color: #fde8d7;
  border-left: 10px solid #624c3a; 
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
             -2px -2px 5px 0 rgba(0,0,0,.1),
              2px 2px 5px 0 rgba(0,0,0,.1),
             -2px 2px 5px 0 rgba(0,0,0,.1);
  font-size: 20px;
  transition: 0.3s all linear;
}

.ingredients li:not(:last-child)
{
  margin-bottom: 10px;
}

.ingedient-value,
.ingedient-name{
    font-size: 0.7em;
}
  
.details {
    margin-bottom: 0px;
    margin-top: auto;
}
  
.details p {
    margin-top: 5px;
}

.coffee-description-details {
    border-radius: 20px;
    padding: 20px 50px;
    text-align: center;
    font-size: 1.2em;
    background-color: #ffe9d6ce;
    border: 3px solid  #624c3a;
    margin-top: -10px;
}

.comments-section {
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    min-width: 600px;
}
  
.comments-section form {
    width: 100%;
}
  
.comments-section textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    font-size: 1em;
    border-radius: 20px;
}
  
.comments-section input {
    display: block;
    margin: 0 0 0 auto;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
    border-color: #4d3e32;
    background-color:  #ffe9d6ce;
    color: #4d3e32;
}
  
.comment-beauty {
    width: 100%;
}

.comment-beauty:not(:first-child)
{
  margin-top: 20px;
}

  
.comment {
    background-color: #ecd7c3;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.comment-left {
    width: 30%;
    box-sizing: border-box;
}
  
.comment-left p {
    margin-bottom: 5px;
}

.comment-left, .comment-text{
    display: inline-block;
    text-align: left;
}
  
.comment-mess {
    width: 70%;
    box-sizing: border-box;
}
  
.star-rating {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
    background-color: #ffac26;
  }
  
.star-rating-icon {
      float: right;
      padding-left: 2px;
      cursor: pointer;
}
  
.star-rating-icon:last-child {
      padding-left: 0;
}
  
.star-rating-input {
      display: none;
}

.star-rating-icon:hover:before,
.star-rating-icon:hover ~ .star-rating-icon:before,
.star-rating-input:checked ~ .star-rating-icon:before {
      color: yellow;
}

  @media only screen
      and (max-device-width : 500px)
      and (orientation: portrait) {
  
      :root {
        --main-border-radius: 50px;
      }
  
      main {
        padding-top: 200px;
        width: 95%;
      }
  
      .main-div {
        flex-direction: column;
        height: auto;
      }
  
      .coffee-img-details {
        width: 100%;
        height: auto;
        margin: auto;
        border-radius: 10%;
        margin-bottom: 50px;
      }
  
      .coffee-desc {
        width: 100%;
      }
  
      .image-box {
        margin-left: 40px;
        margin-bottom: 20px;
        margin-top: 40px;
        height: 300px;
      }
  
      .coffee-ingredient_n {
        position: absolute;
        left: 12px;
        top: 0;
        height: 285px;
        width: 219px;
      }
  
      .coffee-name-details {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 4em;
        margin-bottom: 30px;
      }
  
      .star-rating {
        border-radius: 50px;
        font-size: 3em;
        margin-bottom: 20px;
        padding: 25px;
      }
  
      .star-rating-icon {
          padding-left: 10px;
      }
  
      .coffee-details {
        padding: 30px;
        font-size: 3em;
      }
  
      .coffee-desc p {
        font-size: 2.5em;
        text-align: center;
      }
      
      .coffee-ingr{
        width: 100%;
        padding: 10px;
        font-size: 2em;
        text-align: center;
        margin-top: 10px;
      }

      .ingedient-value,
      .ingedient-name{
       font-size: 2em;
      }

      .ingredients{
        max-height: 250px;
      }

      .ingredients li {
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
      }
  
      .coffee-description-details {
        margin-top: 50px;
        padding: 30px 50px;
        font-size: 2.5em;
      }
  
      .comments-section {
        margin-top: 50px;
        padding: 40px;
      }
  
      .comments-section textarea {
        margin-bottom: 30px;
        padding: 30px;
        font-size: 2.5em;
        background-color: var(--color-input);
      }
  
      .comments-section input{
        padding: 10px 20px;
        font-size: 2.5em;
      }
  
      .comment-beauty {
        margin-bottom: 30px;
      }
  
      .comment {
        padding: 30px;
        font-size: 2.5em;
      }
  
      .comment-left {
        width: 40%;
        box-sizing: border-box;
      }
  
      .comment-left p {
        margin-bottom: 5px;
      }
  
      .comment-mess {
        width: 60%;
        box-sizing: border-box;
      }

      .comments{
        height:400px;
      }
  }
  