.espresso {
  background-color: #42210B;
}

.water {
  background-color: #3E97D1;
}

.milk {
  background-color: #E6E6E6;
}

.milk-foam {
  background-color: #ccd5e3;
}

.chocolate {
  background-color: #A64A00;
}

.honey {
  background-color: #FF7100;
}

.syrup {
  background-color: #BF8230;
}

.red-syrup {
  background-color: #bf304f;
}

.vanilla {
  background-color: #FFDAB9;
}

.red_pepper {
  background-color: #B22222;
}

.egg_yolk {
  background-color: #FFFF00;
}
