/*header*/

body {
  background-color: #ddb49256;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  background-color: #3f2714ce;
  color: white;
  padding: 15px 50px;
  min-width: 650px;
  display: flex;
}

header h3{
  margin-top: 10px;
  white-space: nowrap;
}

header .header-title {
  margin: 0 auto 0 0;
}

.header-title {
  padding-left: 60px;
}

header .header-search {
  height: 100%;
  margin-top: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 10px;
  white-space: nowrap;
}

header .header-search input {
  box-sizing: border-box;
  height: 35px;
  width: 200px;
  font-size: 1em;
  outline: none;
  padding-left: 5px;
}

header .header-search button {
  margin-left: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}

header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  flex: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50px;
  top: 10px;
  background-color: #3f2714ce;
}

.logo img {
  position: absolute;
  left: 7px;
  top: 2px;
  width: 35px;
  height: 40px;
}

@media (max-width: 750px)  {
  .logo {
    transform: translate(0, -100px);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
}

@media (min-width: 750px)  {
  .logo {
    transform: translate(0, 0);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
}

@media (max-width: 750px)  {
  .header-title {
    transform: translate(-100px, 0);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
}

@media (min-width: 750px)  {
  .header-title {
    transform: translate(0, 0);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
}

.authorization {
  margin: 0 0 0 120px;
  box-sizing: border-box;
}

.authorization .sign-up{
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 70px;
  top: 10px;
  background-color: #3f2714ce;
}

.authorization .sign-up i{
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 25px;
}

.authorization .login{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  top: 10px;
  background-color: #3f2714ce;
}

.authorization .login i{
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 25px;
}

.menu-list {
  position: absolute;
  top: 50px;
  padding-top: 13px;
}

.menu-list li {
  display: block;
  line-height: 40px;
  background-color: #3f2714ce;
  font-size: 1.2em;
  font-weight:bolder;
  width: 190px;
}

.menu-list li a {
  display: block;
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

.menu-list li:hover {
  background-color: #3f2714ce;
}

.main-menu:hover .menu-list {
  display: block;
}

.hidden {
  display: none;
}
/*header end for pk version*/

/*content*/
main {
  min-height: calc(100vh - 60px);
  padding-top: 65px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

/*footer*/
footer {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: #3f271493;
  min-width: 650px;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

footer h4
{
  color: white;
}

footer h4 .contact-us {
  margin-left: auto;
  margin-right: o;
}

footer .copyright {
  margin-left: auto;
  margin-right: 0;
  color: white;
}

footer .contacts {
  margin-right: 0;
}

footer .contacts a {
  color: white;
  display: inline-block;
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
}

footer .contacts a i {
  vertical-align: middle;
  font-size: 1.8em;
}

footer .contacts .vk-link {
  background-color: #5281B8;
}

footer .contacts .vk-link:hover {
  background-color: #4170A7;
}

footer .contacts .instagram-link {
  background-color: #D43377;
}

footer .contacts .instagram-link:hover {
  background-color: #C32266;
}

footer .contacts .mail-link {
  background-color: #008080;
}

footer .contacts .mail-link:hover {
  background-color: #007070;
}

/*side-panel*/
#side-checkbox {
  display: none;
}

.side-panel {
  position: fixed;
  z-index: 999999;
  top: 65px;
  left: -360px;
  background:  #3f2714ce;
  transition: all 0.5s;   
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0,0,0,0.4);
  color: #FFF;
  padding: 40px 20px;
}

.side-title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
  text-align: left; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}

.side-button-1 .side-b {
  margin-top: 5px;
  position: relative;
  font-size: 20px;
  padding: 10px 6px;
  color: #FFF;
  background: #3f2714;
  cursor: pointer; 
  max-width: 90px;
}

.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: #FFF;
}

.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}

.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
  background: #E0926E;
}

.side-button-1 .side-b:before {
  top: -6px;
}

.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
  display: none;
}

#side-checkbox:checked + .side-panel {
  left: 0;
}

/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;    
  transition: all 280ms ease-in-out;    
}

.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);    
  color: #FFF;
}

* {
  font-family: Helvetica Neue Light, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*списки фильтрации и сортировки*/

.filter{
  margin-top: 15px;
}

.sort{
  margin-top: 70px;
}

.filter-select{
  text-align: center;
  color: #EEE3DB;
}

.beads {
  list-style: none;
  background: #EEE3DB;
  margin: 0;
  padding-left: 40px;
  border-radius: 5px;
}

.beads li {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  border-bottom: 1px solid #D4D7D6;
  position: relative;
}

.beads a {
  text-decoration: none;
  color: #464643;
  display: block;
  line-height: 40px;
  position: relative;
}
  
.beads a:before {
  content:"";
  position: absolute;
  left: -20px;
  top: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #A58063;
}

.beads li:last-child {border-bottom: none;}

.beads li:before, 
.beads li:after {
  content:"";
  position: absolute;
  border-radius: 50%;
}
  
.beads li:before {
  top: calc(50% - 5px);
  background: #E0926E;
  left: -22px;
  width: 10px;
  height: 10px;
  transition: 0.5s linear;
}

.beads li:after {
  bottom: 6px;
  left: -20px;
  width: 6px;
  height: 6px;
  background: #A58063;
}
  
.beads li:hover:before {background: #FFCE08;}